@charset "UTF-8";

@media screen and (min-width: 768px) {


    #icon{
        display: none;
    }

    #ops{
        display: block;
    }

    #ops > ul > li{
        display: inline-block;

    }

    #ops > ul{
        text-align: start;
    }

a{
    text-align: center;
}

}