@charset "UTF-8";



@media screen and (min-width: 768px) and (max-width: 992px){
body{
    background: url(../Imagens/back-tablet.jpg);
background-size: cover;
background-position: center center;
}
#phone{display: none;}
#tablet{display: block;}
#print{display: none;}
#pc{display: none;}
#tv{display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px){
  body{
    background: url(../Imagens/back-pc.jpg);
  }  
  #phone{display: none;}
#tablet{display: none;}
#print{display: none;}
#pc{display: block;}
#tv{display: none;}
}

@media screen and (min-width: 1200px) {
  body{
    background: url(../Imagens/back-tv.jpg);

  }  
  #phone{display: none;}
  #tablet{display: none;}
  #print{display: none;}
  #pc{display: none;}
  #tv{display: block;}

}

@media print {
    *{font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    text-align: center;
}
main{
    border: 2px solid black;
    width: 85vw;
    
}
main::after{
    content: 'Esse site foi feito atraves do site html.com';
    text-decoration: overline;

}



    main h1{
        text-shadow: none;
        color: black;
    }
    #phone{display: none;}
    #tablet{display: none;}
    #print{display: block;}
    #pc{display: none;}
    #tv{display: none;}
}

